header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: transparent;
    transition: all ease 0.3s;

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}
header.black{
    background-color: #141414;
}

.logo{
    max-width: 150px;
    height: 100%;
  }

.user{
    max-width: 60px;
    
}

@media (max-width: 768px){
    header{
        padding: 10px;
    }
}