.lists{
  margin-top: -150px;  
}

footer{
   text-align: center;
}

.footer--links{
   display: flex;
   column-gap: 15px;
   justify-content: center;
};
.loading{
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 99;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loading img{
   width: 100%;
}